.card {
  width: 18rem;
  display: flex;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  scale: 1.03;
  box-shadow: 0px 0px 10px 0px rgba(0, 60, 255, 0.2);
}

.card-wrapper {
  width: 85%;
  margin: auto;
  background-color: white;
  padding: 2rem;
}

.category-header-in-wrapper {
  border-bottom: 1px solid;
  padding-bottom: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.category-header-in-wrapper h5 {
  display: inline;
  margin: 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1rem;
  gap: 1rem;
}

.card-img-top {
  height: 100%;
  width: 100%;
}

.card-image-container {
  height: 15rem;
}

.card-body {
  height: 13rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.card-more-details {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.card-more-details p {
  color: gray;
  margin: 0;
}

.carousel-container2 {
  display: flex;
  justify-content: center;
  width: 85%;
  margin: auto;
}

/*////////////////////// Loader //////////////////////*/
/* Container for the loader */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10em;
}

/* Circle elements */
.circle {
  width: 1em;
  height: 1em;
  margin: 0 0.25em;
  border-radius: 50%;
  background-color: rgb(13, 110, 253); /* Updated color */
  animation: wave 1.5s infinite ease-in-out;
  transition: background-color 0.3s ease;
}

/* Animation */
@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-1em);
  }
}

/* Delay for each circle */
.circle:nth-child(1) {
  animation-delay: 0s;
}

.circle:nth-child(2) {
  animation-delay: 0.2s;
}

.circle:nth-child(3) {
  animation-delay: 0.4s;
}

.circle:nth-child(4) {
  animation-delay: 0.6s;
}

.circle:nth-child(5) {
  animation-delay: 0.8s;
}
